 .u-section-1 {
  background-image: linear-gradient(#eb7100, #6b4748);
}

.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-image-1 {
  width: 52px;
  height: 52px;
  text-align: start;
  margin: 177px auto 0 746px;
}

.u-section-1 .u-group-1 {
  width: 272px;
  min-height: 52px;
  margin: -46px auto 0 47px;
}

.u-section-1 .u-image-2 {
  width: 52px;
  height: 52px;
  text-align: start;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.625rem;
  text-align: start;
  margin: -46px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 52px;
  height: 52px;
  text-align: start;
  margin: -52px auto 0 386px;
}

.u-section-1 .u-text-2 {
  font-size: 1.625rem;
  text-align: start;
  margin: -51px auto 0 815px;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  text-align: start;
  margin: -36px auto 0 455px;
}

.u-section-1 .u-btn-1 {
  margin: 11px auto 0 135px;
}

.u-section-1 .u-btn-2 {
  margin: -45px auto 0 502px;
}

.u-section-1 .u-btn-3 {
  margin: -45px 186px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 672px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 375px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 302px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 668px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 515px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 287px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 488px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 386px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 288px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 135px;
  }
}